.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Group buttons in row */
.btn-group {
    display: flex;
    gap: 10px;
}

/* Common button style */
.btn {
    padding: 10px 15px;
    background-color: aqua;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

/* Reset button different color */
.reset {
    background-color: orange;
    color: red;
}

.btn-incre{
    padding: 10px;
    background-color: red;
    color: black;
    border: none;
    border-radius: 5px;

}

.btn-decre{
    padding: 10px;
    background-color: rgb(255, 111, 0);
    color: black;
    border: none;
    border-radius: 5px;

}

.name-heading{
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-style: italic;
}
.name-input{
    padding: 5px;
    margin-top: 30px;
    border-color: red;
    border-radius: 10px;
}
.name-input:hover{
    border-color: rgb(0, 21, 255);
}
